GCP_PROJECT_ID=
GCP_REGION=
AR_LOCATION=
GCP_DNS_ZONE_NAME=
GCP_BUCKET_LOCATION=
SERVICE_ACCOUNT_NAME=

# Django Settings
SERVICE_NAME=
DOMAIN_NAME=
MYSQL_ROOT_PASSWORD=
MYSQL_USER_PASSWORD=
DJANGO_ALLOWED_HOSTS=.run.app,test.blogdoang.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.run.app,https://test.blogdoang.com

# Cloud Run Environment Variables (production or development)
DJANGO_ENV=