GCP_PROJECT_ID=                             # Google Cloud Project ID
GCP_REGION=                                 # Google Cloud Region
AR_REPO_NAME=                               # Artifcat Registry Repository name
AR_LOCATION=                                # Artifcat Registry Repository location
SERVICE_NAME=                               # Cloud Run service name
CLOUD_SQL_CONN=                             # Cloud SQL for MySQL Connection name
GCP_DNS_ZONE_NAME=                          # Cloud DNS Zone name
DOMAIN_NAME=                                # Domain name used for Load Balancer and Cloud DNS

# Django Settings
DJANGO_ALLOWED_HOSTS=                       # Comma separated values
DJANGO_CSRF_TRUSTED_ORIGINS=                # Comma separated values

# Cloud Run Environment Variables
DJANGO_ENV=                                 # Set it to 'development' or 'production'

# Cloud Run Secrets
# Before you set the below values, please make sure you have created all the Secrets in Secret Manager GCP
DJANGO_SECRET_KEY=                          # example DJANGO_SECRET_KEY:latest
DJANGO_SUPERUSER_USERNAME=                  # example DJANGO_SUPERUSER_USERNAME:latest
DJANGO_SUPERUSER_PASSWORD=                  # example DJANGO_SUPERUSER_PASSWORD:latest
DJANGO_SUPERUSER_EMAIL=                     # example DJANGO_SUPERUSER_EMAIL:latest
MYSQL_HOST=                                 # example MYSQL_HOST:latest
MYSQL_DATABASE=                             # example MYSQL_DATABASE:latest
MYSQL_USER=                                 # example MYSQL_USER:latest
MYSQL_PASSWORD=                             # example MYSQL_PASSWORD:latest