anyascii==0.3.2
asgiref==3.8.1
Babel==2.15.0
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
defusedxml==0.7.1
Django==4.2.13
django-address==0.2.8
django-allauth==0.63.3
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.2
django-modelcluster==6.3
django-cors-headers==4.4.0
django-money==3.5.2
django-permissionedforms==0.1
django-storages==1.14.2
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.15.1
draftjs-exporter==5.0.0
et-xmlfile==1.1.0
filetype==1.2.0
google-api-core==2.19.0
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.16.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
grpc-google-iam-v1==0.13.0
grpcio==1.64.1
grpcio-status==1.62.2
gunicorn==22.0.0
idna==3.7
l18n==2021.3
laces==0.1.1
oauthlib==3.2.2
openpyxl==3.1.2
packaging==24.1
django-extensions==3.2.3
local==1.0.0
pillow==10.3.0
pillow_heif==0.16.0
proto-plus==1.24.0
psycopg2-binary==2.9.9
py-moneyed==3.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.8.0
pypng==0.20220715.0
pytz==2024.1
qrcode==7.4.2
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
telepath==0.3.1
typing_extensions==4.11.0
urllib3==2.2.1
wagtail==6.1
whitenoise==6.6.0
Willow==1.8.0

pipreqs==0.5.0
protobuf==4.25.3
python-dotenv==1.0.1
# mysqlclient==2.2.4